# Flutter 共通
**/build/
**/.dart_tool/
**/.packages
**/pubspec.lock

# IDE 関連
**/.idea/
**/.vscode/
*.iml

# iOS
**/ios/

# Android
**/android/

**/web/


# その他
*.log
**/.firebase

**/rakuraku_amedas/
